@model IEnumerable<DAl.Applicant_Profiles>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Security_Logins.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Current_Salary)/
            @Html.DisplayNameFor(model => model.Current_Rate)/
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.State_Province_Code)
            @Html.DisplayNameFor(model => model.Street_Address)
            @Html.DisplayNameFor(model => model.City_Town)
            @Html.DisplayNameFor(model => model.Zip_Postal_Code)
            @Html.DisplayNameFor(model => model.System_Country_Codes.Name)*@
            Address
        </th>
        @*<th>@Html.DisplayNameFor(model => model.Time_Stamp)</th>*@
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Security_Logins.Login)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Current_Salary)/
        @Html.DisplayFor(modelItem => item.Current_Rate)/
        @Html.DisplayFor(modelItem => item.Currency)
    </td>
    <td>

        @Html.DisplayFor(modelItem => item.Street_Address)
        @Html.DisplayFor(modelItem => item.City_Town)
        @Html.DisplayFor(modelItem => item.Zip_Postal_Code)
        @Html.DisplayFor(modelItem => item.State_Province_Code)
        @Html.DisplayFor(modelItem => item.System_Country_Codes.Name)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.Time_Stamp)
    </td>*@

    
<td>
    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    <br />
    @*@Html.ActionLink("Skills", "Index", "Applicant_Skills",
    new { Id = item.Id }, null)
    @Html.ActionLink("Skills", "Index", "Applicant_Skills",
   new { Id = item.Id }, null)
    @Html.ActionLink("Skills", "Index", "Applicant_Skills",
   new { Id = item.Id }, null)
    @Html.ActionLink("Skills", "Index", "Applicant_Skills",
   new { Id = item.Id }, null)*@

</td>
</tr>
    }

</table>

@*@Html.Partial("~/Views/_Applicant_Skills.cshtml",,)*@