@model DAl.Applicant_Job_Applications

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Applicant_Job_Applications</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time_Stamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_Stamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant_Profiles.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant_Profiles.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Jobs.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Jobs.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
